
/* botones */

.boton {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	height: 35px;
    background: #212529;
	color: #fff;
	font-size: 17px;
	font-weight: 500;
	border: none;
	cursor: pointer;
	transition: .3s ease all;
	border-radius: 5px;
	position: relative;
	overflow: hidden;
}

.boton span {
	position: relative;
	z-index: 2;
	transition: .3s ease all;
}

/* boton inicio */

.boton.inicio{
    width: 90px;

    border: 1px solid #f37848 !important;
}

.boton.inicio span {
	transition: .4s ease-in-out all;
	position: absolute;
	left: 25%;
}

.boton.inicio .icono {
	display: flex;
	align-items: center;
	position: absolute;
	z-index: 2;
	left: -30px;
	transition: .3s ease-in-out all;
	opacity: 0;
}

.boton.inicio i {
	color: #fff;
	width: 35px;
	height: auto;
}

.boton.inicio:hover {
	background: #f37848;
    color: #fff;
}

.boton.inicio:hover .icono {
	left: calc(100% - 40px);
	opacity: 1;
}

.boton.inicio:hover span {
	left: 15px;
}



/* boton estadisticas */

.boton.estadisticas{
    width: 130px;
    border: 1px solid #f37848 !important;
}

.boton.estadisticas span {
	transition: .4s ease-in-out all;
	position: absolute;
	left: 15%;
}

.boton.estadisticas .icono {
	display: flex;
	align-items: center;
	position: absolute;
	z-index: 2;
	left: -30px;
	transition: .3s ease-in-out all;
	opacity: 0;
}

.boton.estadisticas i {
	color: #fff;
	width: 35px;
	height: auto;
}

.boton.estadisticas:hover {
	background: #f37848;
    color: #fff;
}

.boton.estadisticas:hover .icono {
	left: calc(100% - 35px);
	opacity: 1;
}

.boton.estadisticas:hover span {
	left: 8px;
}

/* boton precio */

.boton.precio {
    width: 90px;
    color: #fff;
    background:#f37848;
}
.boton.precio span {
	position: absolute;
	left: 8px;
}

.boton.precio .icono {
	display: flex;
	align-items: center;
	position: absolute;
	z-index: 2;
	left: calc(100% - 35px);
	opacity: 1;
}

.boton.precio i {
	color: #fff;
	width: 35px;
	height: auto;
}


.boton.precio::after {
	content: "";
	width: 1px;
	height: 1px;
	background: none;
	position: absolute;
	z-index: 1;
	top: 50%;
	left: 50%;
	transition: .4s ease-in-out all;
	border-radius: 100px;
	transform-origin: center;
}

.boton.precio:hover::after {
	transform: scale(500);
	background: #000;
}



/* boton fecha */

.boton.fecha {
    width: 90px;
    color: #fff;
    background:#f37848;
}
.boton.fecha span {
	position: absolute;
    left: 8px;
}

.boton.fecha .icono {
	display: flex;
	align-items: center;
	position: absolute;
	z-index: 2;
	left: calc(100% - 35px);
	opacity: 1;
}

.boton.fecha i {
	color: #fff;
	width: 35px;
	height: auto;
}

.boton.fecha::after {
	content: "";
	width: 1px;
	height: 1px;
	background: none;
	position: absolute;
	z-index: 1;
	top: 50%;
	left: 50%;
	transition: .4s ease-in-out all;
	border-radius: 100px;
	transform-origin: center;
}

.boton.fecha:hover::after {
	transform: scale(500);
	background: #000;
}

.boton.comprar{
	height: 55px !important;
	text-transform: uppercase;
	width: 200px !important; 
}

.boton.comprar:hover{
	background-color: #f37848;
}

