/* Logo */
nav div div a {
  font-size: 16px !important;
}

/* switch de Nuevo */
.switch {
  height: 65px !important;
}

/* tamaño de fuente de las categorias */
div label span {
  font-size: 16px !important;
}

/* barra de busqueda */
#search {
  width: 250px !important;
}

#precio {
  width: 100px !important;
}

#hasta {
  width: 100px !important;
}

#ordenar_por {
  height: 100px;
}

#label_modal {
  font-size: 16px;
}

#nombre_vendedor {
  width: 300px !important;
}

#telefono {
  width: 200px !important;
}

#text_descrip {
  height: 150px !important;
  width: 300px !important;
}

#nuevo_precio {
  width: 100px !important;
}

#nuevoProducto {
  padding: 30px !important;
}

/* estilos de "Descripcion del producto" */

.carousel {
  height: 750px !important;
}

#detalle_producto {
  padding: 50px !important;
}
