.btn-outline-cancel {
  color: #ff7402 !important;
  border-color: #ff7402 !important;
}

.btn-outline-cancel:hover {
  color: #fff !important;
  background-color: #ff7402 !important;
  border-color: #ff7402 !important;
}

.btn-outline-cancel:focus,
.btn-outline-cancel.focus {
  box-shadow: 0 0 0 0.2rem rgba(43, 147, 72, 0.5) !important;
}

.form-check-input:checked {
  background-color: #ff7402;
}

.page-link {
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #ff7402;
  background-color: #fff;
  border: 1px solid #dee2e6;
}

.page-link:hover {
  z-index: 2;
  color: #8d4204;
  text-decoration: none;
  background-color: #e9ecef;
  border-color: #dee2e6;
}

.page-link:focus {
  z-index: 3;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(255, 123, 0, 0.25);
  color: #8d4204;
}

.facebook {
  background-color: #1877f2;
}

.twitter {
  background-color: #1da1f2;
}

.youtube {
  background-color: #ff0000;
}

.instagram {
  background-color: #fafafa;
}