@media only screen and (max-device-width: 972px) {
    .show-mobile {
      display: block;
    }
    .hide-mobile {
      display: none;
    }
  }

@media only screen and (min-device-width: 972px) {
    .show-mobile {
      display: none;
    }
    .hide-mobile {
      display: block;
    }
  }